.theme-menu__button {
  transition: 0.3s ease;
}

@keyframes arrow {
  from {
    inset-inline-start: -20px;
  }

  to {
    inset-inline-start: -16px;
  }
}

.theme-menu__button::after {
  transition: width 0.3s ease;
}

.card__icon-button {
  transition: 0.3s ease;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--heart-fill-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--heart-fill-color);
}

.like-icon:hover .main-body,
.like-icon:active .main-body,
.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core,
.like-icon:active .core,
.like-icon.is-liked .core {
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-growth 0.3s ease-in alternate 0.1s;
}

.sparks {
  filter: opacity(0);
}

.like-icon.is-liked .sparks {
  animation: sparkling 0.3s ease-in alternate 0.3s;
}

@keyframes heart-growth {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes sparkling {
  from {
    filter: opacity(0%);
  }

  to {
    filter: opacity(100%);
  }
}

.button {
  transition: 0.3s ease;
}

.button::before {
  transition: transform 0.5s ease-in-out;
}