.theme-menu__button:disabled,
.theme-menu__button:hover {
  transition: 0.3s ease;
}

@keyframes arrow {
  from {
    inset-inline-start: -20px;
  }

  to {
    inset-inline-start: -16px;
  }
}

.theme-menu__button:focus-visible {
  transition: 0.3s ease;
}

.theme-menu__button:focus::after,
.theme-menu__button:focus-visible::after {
  transition: width 0.3s ease;
}

.card__icon-button {
  transition: 0.3s ease;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body,
.like-icon:active .main-body,
.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
}

@keyframes heart-growth {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes sparkling {
  from {
    filter: opacity(0%);
  }

  to {
    filter: opacity(100%);
  }
}

.button-pseudo-classes,
dialog[open] .button-pseudo-classes {
  transition: 0.3s ease;
}

.button-pseudo-classes::before,
dialog[open] .button-pseudo-classes::before {
  transition: transform 0.5s ease-in-out;
}