.page {
  color: var(--text-color);
  font-family: Helvetica, sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--text-font-weight);
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-font), sans-serif;
  }
} 

.header {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  justify-items: center;
  align-items: center;
  margin: 100px auto;
  border: var(--border-style);
  padding: 136px 0 25px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: var(--bg-color);
  min-block-size: min(368px, 100vh);
  inline-size: var(--sections-inline-size);
}

.header__logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-end: 25px;
  text-align: center;
  text-decoration: none;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-inline-start: 18px;
  max-inline-size: 84px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.button {
  border: var(--border-style);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  cursor: pointer;
  min-block-size: 38px;
}

.button__text {
  position: relative;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.theme-menu__button {
  position: relative;
  display: flex;
  align-self: center;
  font-size: 14px;
  text-align: left;
  text-transform: inherit;
  cursor: pointer;
}

.theme-menu__button:disabled,
.theme-menu__button:hover {
  filter: opacity(0.6);
  transition: 0.3s ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
}

@keyframes arrow {
  from {
    inset-inline-start: -20px;
  }

  to {
    inset-inline-start: -16px;
  }
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  filter: opacity(0.6);
  transition: 0.3s ease;
}

.theme-menu__button::after,
.theme-menu__button:focus::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  margin-block-start: 15px;
  background-color: var(--text-color);
}

.theme-menu__button:focus-visible::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  margin-block-start: 15px;
  background-color: var(--text-color);
  transition: width 0.3s ease;
}

.card__like-button:focus,
.content__saving-button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.content__saving-button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
  transition: 0.3s ease;
}

.card__icon-button {
  border: 2px solid transparent;
}

.card__icon-button:focus {
  border-color: transparent;
  outline: none;
  transition: 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
  transition: 0.3s ease;
}

.content__card-list {
  display: grid;
  grid-template-rows: repeat(8, min-content);
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  min-block-size: min(368px, 100vh);
  inline-size: var(--sections-inline-size);
}

.content__card-list-item {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  border: var(--border-style);
  font-size: 18px;
  background-color: var(--bg-color);
}

.content__card-title {
  margin: 3px 24px 3px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--subtitle-font-weight);
}

.content__card-decoration {
  position: relative;
}

.content__card-image {
  position: relative;
  display: block;
  object-fit: cover;
  aspect-ratio: 1/1;
  max-inline-size: 100%;
}

.content__image-start {
  filter: grayscale(1);
}

.content__image-blank {
  filter: brightness(50%);
}

.content__image-achievement {
  filter: hue-rotate(270deg);
}

.content__image-details {
  filter: hue-rotate(90deg) invert(1);
}

.content__image-support {
  filter: sepia(70%) brightness(0.5);
}

.content__image-studying {
  filter: saturate(70%);
}

.content__image-trying {
  filter: opacity(0.9);
}

.content__image-continue {
  filter: contrast(110%);
}

.content__card-image-label {
  position: absolute;
  display: block;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 100%;
  text-shadow: -1px 0 var(--text-shadow-color), 0 1px var(--text-shadow-color), 1px 0 var(--text-shadow-color), 0 -1px var(--text-shadow-color);
  filter: opacity(50%);
  inset-block-start: 28px;
  inset-inline-end: 18px;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #FFF) or (-webkit-text-stroke: 1px #FFF)) {
  .content__card-image-label {
      -webkit-text-stroke: 1px var(--text-shadow-color);
      text-stroke: 1px var(--text-shadow-color);
      text-shadow: none;
  }
}

.content__card-text {
  margin: 25px;
  line-height: 117%;
}

.content__card-list-item p:not(:first-of-type),
.content__quote {
  margin-block-start: 2px;
}

.content__card-buttons {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
}

.sparks {
  filter: opacity(0);
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--heart-fill-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--heart-fill-color);
}

.contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-growth 0.3s ease-in alternate 0.1s;
}

@keyframes heart-growth {
  from {
    transform: scale(1);
    transform-origin: center;
  }

  to {
    transform: scale(1.5);
    transform-origin: center;
  }
}

.like-icon.is-liked .sparks {
  animation: sparkling 0.3s ease-in alternate 0.3s;
}

@keyframes sparkling {
  from {
    filter: opacity(0%);
  }

  to {
    filter: opacity(100%);
  }
}

.card__like-button {
  position: relative;
  padding: 12.5px 37px;
}

.card__like-button:hover,
.content__saving-button:hover {
  color: var(--hover-text-color);
  transition: color 0.5s;
}

.card__like-button::before,
.content__saving-button::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--hover-bg-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button:hover::before,
.content__saving-button:hover::before {
  transform: scaleX(1);
}

.content__saving {
  padding: 50px 0 103px;
}

.content__saving-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 15px 20px;
  background-color: var(--bg-color);
}

.floppy {
  color: var(--button-text-color);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

dialog[open] {
  display: grid;
  grid-template-columns: min-content minmax(234px, min-content);
  grid-template-rows: repeat(2, min-content);
  justify-self: stretch;
  row-gap: 30px;
  column-gap: 20px;
  align-self: center;
  border: var(--border-style);
  padding: 30px;
  color: var(--text-color);
  background-color: var(--bg-color);
  min-inline-size: 357px;
}

dialog[open] .floppy {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

dialog[open] .dialog__button {
  grid-column: 1/3;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width < 376px) {
  .header {
    margin: 100px 0;
    padding: 112px 14px 25px;
    min-block-size: min(327px, 100vh);
    max-inline-size: 100%;
  }
  
  .header__logo {
    gap: 28px;
  }
  
  .content__card-list {
    margin: 0;
    max-inline-size: 100%;
  }
  
  .content__card-image-label {
    inset-inline-end: 13px;
  }
  
  .content__card-title {
    margin: 4px 10px 6px;
    line-height: 22px;
  }

  .content__saving {
    padding: 52px 0 100px;
  }
  
  .content__saving-button {
    flex-direction: column;
  }
  
  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  dialog[open] {
    grid-template-columns: min-content minmax(198px, min-content);
    padding: 30px 42px;
    min-inline-size: 345px;
  }
}